body {
    margin: 30px;
}

.header {
    width: 100%;

}

.main-header {
    color: #223770;

}


h1 {
    font-family: verdana;
}

img {
    width: 130px;
    border-radius: 6px;
}

.navbar {
    border-color: blue;
    margin-bottom: 30px;
    /* background: #203e63; */

}

label {
    margin-right: 10px;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;


}



.font-white {
    color: white;
}

.btn {
    margin-bottom: 10px;
}

.navy-blue {
    background: url(/Users/christianbaidoo/Desktop/TGIF/image/Prde-and-Freedom.png);
}

#loader {
    border: 5px solid #f2f2f2;
    position: relative;
    margin-top: 50px;
    left: 40%;
    top: 100%;
    z-index: 1;
    border-radius: 50%;
    border-top: 5px solid #114484;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.social {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-top: 0,
}